.sec-two-block {
  display: flex;
  align-items: flex-end;
  padding: 50px 60px 53px;

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 120px;
    @include tabletHD {
      padding: 0px;
    }
    @include tabletSD {
      flex-direction: column;
    }
  }
  &__list {
    width: 100%;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    @include tabletSD {
      display: flex;
      flex-direction: row;
      align-self: start;
      border-right: 4px solid transparent;
      margin-left: -60px;
    }

    ul {
      overflow: auto;
      @include tabletSD {
        display: flex;
        flex-direction: row;
        margin-right: -192px;
      }
      @include mobile {
        height: 67px;
      }
      li {
        text-align: right;
        margin-bottom: 30px;
        @include tabletSD {
          margin-bottom: 60px;
        }
      }
    }
  }
  .title {
    &--reversed {
      background: $gradient-red-text-reversed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: right;
      @include tabletSD {
        padding-left: 60px;
      }
    }
  }
  &__link {
    display: block;
    white-space: nowrap;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: right;
    color: #b3b3ba;
    margin-bottom: 30px;
    transition: 0.2s;
    &:hover {
      color: $accent-regular;
    }
    &--marg {
      margin-bottom: 14px;
    }
    @include tabletSD {
      margin: 0px 30px 0px 0px;
    }
    @include mobile {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__text-block {
    padding-left: 60px;
    @include tabletSD {
      padding: 0px;
      padding-top: 60px;
      @include mobile {
        padding-top: 30px;
      }
    }
  }
  &__h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
    @include mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }
  @include desktopHD {
    padding: 50px 160px 53px;
  }
  @include mobile {
    padding: 30px 30px 21px;
  }
}
