header {
  background: #eeeeee;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
}
.h1 {
  font-family: "CrimsonText";
  font-size: 60px;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: #6bb3dd;
}
.h3 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #05376b;
  margin-top: 30px;
  margin-bottom: 20px;
}
.h2 {
  font-family: "CrimsonText";
  font-size: 25px;
  line-height: 48px;
  letter-spacing: -0.714286px;
  color: #6bb3dd;
}
.list-group-item {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #05376b;
}
.text {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
}
.article__date {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #6bb3dd;
}
.blue-section {
  background: linear-gradient(180deg, #0c68a4 0%, #05376b 100%);
}
em {
  font-family: "CrimsonText";
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}
